# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.DS_Store
*.pem

# Testing
/coverage

# IDE files
/.idea
/.vscode
*.code-workspace

# Misc
*.log
.vercel
.vercel


/public/fonts/english/*.woff
/public/fonts/english/*.woff2
/public/fonts/english/*.ttf
/public/fonts/english/*.otf

/public/fonts/hebrew/*.woff
/public/fonts/hebrew/*.woff2
/public/fonts/hebrew/*.ttf
/public/fonts/hebrew/*.otf

!/public/fonts/fonts.json
/public/fonts/hebrew
/public/fonts/english
